<div class="track-listing">
    <div class="header" id="pickerHeader">
        <div class="container">
            <span class="tracks"><i class="fa fa-bars"></i> Track Library</span>
        </div>
    </div>
    <div class="drawer-body">
        <div class="container">
            <ul class="category-listing">
                <li class="category">
                    NASA Space Sounds
                    <ul>
                        <li class="choice" data-track="Apollo-12-Cardiac-Sim.mp3" data-directory="NASA-Space">
                            Apollo 12 Cardiac Sim
                        </li>
                        <li class="choice" data-track="Emfisis-Chorus.mp3" data-directory="NASA-Space">
                            Emfisis Chorus
                        </li>
                        <li class="choice" data-track="Enceladus.mp3" data-directory="NASA-Space">
                            Enceladus
                        </li>
                        <li class="choice" data-track="Kepler-Star-KIC12268220C.mp3" data-directory="NASA-Space">
                            Kepler Star KIC12268220C
                        </li>
                        <li class="choice" data-track="Spooky-Saturn.mp3" data-directory="NASA-Space">
                            Spooky Saturn
                        </li>
                        <li class="choice" data-track="Voyager-Jupiter-lightning.mp3" data-directory="NASA-Space">
                            Voyager Jupiter lightning
                        </li>
                    </ul>
                </li>
                <li class="category">
                    NASA Space Talk
                    <ul>
                        <li class="choice" data-track="Apollo-12-Landing-Commander-comments.mp3" data-directory="NASA-Vocals">
                            Apollo 12 Landing Commander comments
                        </li>
                        <li class="choice" data-track="John-F-Kennedy-We-choose-to-go-to-the-moon.mp3" data-directory="NASA-Vocals">
                            John F Kennedy We choose to go to the moon
                        </li>
                    </ul>
                </li>
                <li class="category">
                    Bass
                    <ul>
                        <li class="choice" data-track="Boom-Boom-Vox.wav" data-directory="Bass">
                            Boom Boom Vox
                        </li>
                        <li class="choice" data-track="Electro-Bass.wav" data-directory="Bass">
                            Electro Bass
                        </li>
                        <li class="choice" data-track="Rediscover-Anthem.wav" data-directory="Bass">
                            Rediscover Anthem
                        </li>
                        <li class="choice" data-track="Timmy-Trumpet.wav" data-directory="Bass">
                            Timmy Trumpet
                        </li>
                    </ul>
                </li>
                <li class="category">
                    Beats
                    <ul>
                        <li class="choice" data-track="Clav-Drumloop.wav" data-directory="Beats">
                            Clav Drumloop
                        </li>
                        <li class="choice" data-track="Dunce-Cap-Hopy.wav" data-directory="Beats">
                            Dunce Cap Hopy
                        </li>
                        <li class="choice" data-track="Dunce-Cap-Stepy.wav" data-directory="Beats">
                            Dunce Cap Stepy
                        </li>
                        <li class="choice" data-track="Fresh-Mouf.wav" data-directory="Beats">
                            Fresh Mouf
                        </li>
                        <li class="choice" data-track="Herman-Beatbox.wav" data-directory="Beats">
                            Herman Beatbox
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>