@trackHeight: 104px;

#app-frame {
    position: relative;
    margin-top: 30px;

    .container {
        overflow: hidden;
    }
    #editor-view {
        position: relative;
        overflow: scroll;
        margin-top: 0;
        background-color: transparent;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        #time-line {
            font-family: 'Abel', 'Helvetica', sans-serif;
            width: 640px;
            height: 30px;
            margin-left: 250px;
            position: fixed;
            top: 147px !important;
            background-color: transparent;
            z-index: 500;

            canvas {
                overflow: hidden;
            }
        }
        #playback-position {
            width: 1px;
            position: absolute;
            top: 0;
            background-color: white;
            z-index: 500;
        }
        .active .track-display {
            background-color: #fff;
        }
        .track {
            position: relative;
            height: @trackHeight;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            /* GLOBAL STYLES :: DONT TOUCH */
            .editing .display, .edit {
                display: none;
            }
            .editing .edit {
                display: block;
            }
            /* =========================== */

            .track-info {
                position: relative;
                float: left;
                width: 250px;
                max-height: 104px;
                background-color: rgba(0,0,0,0.6);
                overflow: hidden;
                z-index: 550;

                .track-name {
                    width: 250px;
                    background: none;
                    padding: 4px 10px 0px 10px;
                    .border-box;

                    &.editing {

                        .display {
                            display: block;

                            .name-content {
                                display: none;
                            }
                        }
                        .edit {
                            display: block;
                            padding: 0 0 0 6px;
                        }
                    }
                    .name-input {
                        font-family: 'Abel', 'Helvetica', sans-serif;
                        font-weight: 200;
                        color: white;
                        font-size: 26px;
                        height: 26px;
                        padding: 0 0 6px;
                        margin: 0;
                        border: 0;
                        font-style: normal;
                        color: @yellow;
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                    }
                    .display {
                        font-family: 'Abel', 'Helvetica', sans-serif;

                        .track-number {
                            position: relative;
                            padding: 6px;
                            color: @blue;
                            font-size: 14px;
                        }
                        label {
                            font-family: 'Abel', 'Helvetica', sans-serif;
                            font-weight: 200;
                            color: white;
                            font-size: 26px;
                            line-height: normal;
                            padding: 0 0 0 6px;
                            height: 26px;

                        }
                    }
                }
                .track-controls {
                    height: 74px;
                    width: 250px;
                    padding: 10px;
                    .border-box;

                    .control-holder {
                        position: relative;
                        display: block;

                        .control {
                            position: relative;
                            display: inline-block;
                            border: 0;
                            outline: 0;
                            padding: 3px;
                            background-color: transparent;

                            font-family: 'Abel', 'Helvetica', sans-serif;
                            color: white;

                            span {
                                display: inline-block;
                                height: 20px;
                                width: 20px;
                                margin-bottom: -4px;
                            }
                            &.mute {

                                span {
                                    background: url('../images/mute-sprite.png') center top no-repeat;
                                }
                            }
                            &.solo {

                                span {
                                    background: url('../images/solo-sprite.png') center top no-repeat;
                                }
                            }
                            &.active {

                                &.mute {

                                    span {
                                        background-position: center bottom;
                                    }
                                }
                                &.solo {

                                    span {
                                        background-position: center bottom;
                                    }
                                }
                            }
                        }
                    }
                    input.volume {
                        width: 100px;
                        margin: 0 6px;
                        background: url('../images/volume-background.png') left center repeat-x transparent;
                        background-size: 1px 1px;
                        border: 0;
                        padding: 0;
                        outline: 0;

                        &:focus {
                            border: 0;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(82, 168, 236, 0);
                        }
                    }
                }
            }
            .track-display {
                position: relative;
                height: @trackHeight;
                margin-left: 250px;
                background-color: rgba(255,255,255,0.4);
                
                // changes the cursor when the clip is moving
                .ui-draggable-dragging, .ui-resizable-resizing {
                    z-index: 500;
                    .clip-display {
                        background: hsla(0, 0%, 60%, 0.6);
                    }        
                }
                .ui-draggable-dragging {
                    .name-content {
                        cursor: move !important;
                    }
                }
                //

                .display-wrapper {
                    height: 84px;
                    position: absolute;
                    top: 20px;
                    background-color: hsla(0, 0%, 78%, 0.2);
                    z-index: 200;

                    canvas {
                        float: left;          
                    }
                }
                .clip {
                    height: @trackHeight;
                    border: 1px solid white;
                    position: absolute;
                    overflow: hidden;
                    .border-box;

                    .clip-name {
                        background-color: @blue;
                        border: 0;

                        .name-content {
                            height: 16px;
                            overflow: hidden;
                            margin-bottom: 0;
                            padding: 0 2px 2px; 
                            white-space: nowrap;  
                            cursor: default;         
                        }
                        .edit {
                            height: 18px;
                        }
                        .name-input {
                            margin: -4px 0 0 1px;         
                            padding: 0;
                            border: none;
                            background: transparent;
                            box-shadow: none;
                            font-style: italic;
                        }
                    }
                    .clip-display {
                        height: 84px;
                        border-left: 1px solid white;
                        border-right: 1px solid white;

                        canvas {
                            float: left;
                            margin-left: -1px;
                        }
                    }

                    .ui-resizable-handle {
                        width: 5px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        z-index: 500;
                    }
                    .ui-resizable-handle:hover {
                        background: rgba(255, 255, 255, 0.6);
                    }
                    .ui-resizable-w {
                        left: 0;
                        cursor: w-resize;
                    }
                    .ui-resizable-e {
                        right: 0;
                        cursor: e-resize;
                    }
                }
            }
        }
    }
}